* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    line-height: 1.5;
  }
  
/* Navigation*/
.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .navbar-brand img {
    padding-right: 0;
    width: 65px;
    background-color: white;
    border-radius: 30%;
  }
  
  .nav-item {
    margin: 0px 15px;
  }

  .customNav a {
    color: white !important; 
  }

  /* button .navbar-toggler-icon {
    background-color: white;
  } */



  /* hero section */
  .heroBackground {
    background-image: url("../images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3AtMjAwLWV5ZS0wMzQyNzAyLmpwZw.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heroCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
    background: url("../images/transparency.png");
  }

  .heroBackground .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  
  }

  .heroBackground .device-container img {
    border-radius: 3px;
  }

  /* work section/ cards*/

  .content {
    padding: 50px;
  }
  
  .sectionHeading {
    text-align: center;
    /* padding-bottom: 30px; */
  }
  
  .work {
    padding: 0px 30px 30px 30px;
  }
  
  .cardContainer {
    text-align: center;
  }

  /* Skills Section */

  section.skills {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  section.skills .skills-icon {
    max-width: 18rem;
  }
  
  section.skills .skills-icon img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }

  /* contact section */

  .contact-section {
    padding-top: 5rem;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
  }
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .contact-section .social a:active {
    color: #fff;
  }
  
  .bg-black {
    background-color: #000000 !important;
  }

  #contact div {
    display: flex;
    justify-content: space-evenly;
  }

  /* footer section */
  #button:hover {
    box-shadow: 5px 10px #888888;
  }

  #footer-link:hover {
    background-color: yellow;
  }
  


  

